# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Streamlit secrets
.secrets.toml

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE-specific files
.idea/
.vscode/
*.iml
